@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #1c1917;
}

::-webkit-scrollbar-thumb {
    background: #ea580c;
    border-radius: 100vh;
}

* {
    font-family: 'Roboto', sans-serif;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#ea580c, #ea580c);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}

.link-underline-sky {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#0369a1, #0369a1);
    background-size: 0 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-sky:hover {
    background-size: 100% 2px;
    background-position: 0 100%
}
